* {
  box-sizing: border-box;
}

body {
	background-color:#F9EAC4;
        overflow: hidden;

}

.app { 
	display: flex;
	align-content: end;
	justify-content: center;
	flex-direction: row;
	gap: 20px;
	height: 80hv;

}

.forecast {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 0 30px 30px;
	margin: 0;
	width: 550px;
	height: 550px;
	background-size: contain;
	min-height: 300px;
	margin: 0;
}

.button {
  height: 550px;
  width: 394px;
  background-image: url("https://raw.githubusercontent.com/huffsmacarons/huffsmacarons.github.io/refs/heads/main/box_1.png");
  background-color: transparent; 
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  transition: background 0.3s ease;
}


.button:hover {
  cursor: pointer;
}
