* {
  box-sizing: border-box;
}

body {position: relative;
	background-color:#000;
	background-image: url("https://raw.githubusercontent.com/huffsmacarons/huffsmacarons.github.io/refs/heads/main/background.png");
	background-size: cover;
	background-repeat: no-repeat;
        overflow: hidden;
}

.app {position: relative; 
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: auto;
}

.forecast {
  position: fixed;
  left: 35%;
  top: 30%;
  transform: translateX(-65%);
	margin: 0;
	width: 550px;
	height: 550px;
	background-size: contain;
	min-height: 300px;
	margin: 0;
}

.button {
  position: fixed;
  left: 65%;
  bottom: 50px; /* расстояние от нижнего края, регулируйте по необходимости */
  transform: translateX(-35%);
  
  /* размеры кнопки */
  height: 550px; /* высокая */
  width: 258px;
  
  background-image: url("https://raw.githubusercontent.com/huffsmacarons/huffsmacarons.github.io/refs/heads/main/box.png");
  background-color: transparent; 
  background-size: contain;
	background-repeat: no-repeat;
  border: none;
  transition: background 0.3s ease;
}


.button:hover {
  cursor: pointer;
}
